
/nintendo/nes/cc65/helloworld/bin/pattern_table_1.chr
/nintendo/nes/cc65/helloworld/bin/pattern_table_2.chr
/nintendo/nes/cc65/helloworld/bin/hello.chr
/nintendo/nes/cc65/helloworld/bin/hello.prg
/nintendo/nes/cc65/helloworld/dist/hello.nes
/nintendo/nes/cc65/helloworld/obj/main.o
/nintendo/nes/cc65/helloworld/tools/chr2asciiart.exe
/nintendo/nes/cc65/helloworld/tools/asciiart2chr.exe
/nintendo/nes/wla/helloworld/bin/pattern_table_1.chr
/nintendo/nes/wla/helloworld/bin/pattern_table_2.chr
/nintendo/nes/wla/helloworld/dist/hello.nes
/nintendo/nes/wla/helloworld/obj/hello.o
/nintendo/nes/wla/helloworld/tools/asciiart2chr.exe
/nintendo/nes/wla/helloworld/tools/chr2asciiart.exe
/nintendo/snes/wla/helloworld/dist/hello.smc
/nintendo/snes/wla/helloworld/obj/hello.o
/nintendo/snes/wla/helloworld/obj/main.o
/sega/sg/binutils-m68k-coff/helloworld/bin/a.out
/sega/sg/binutils-m68k-coff/helloworld/dist/hello.bin
/sega/sg/binutils-m68k-coff/helloworld/obj/impact_pat_rle.o
/sega/sg/binutils-m68k-coff/helloworld/obj/main.o
/sega/sg/binutils-m68k-coff/helloworld/obj/sega.o
/sega/sg/binutils-m68k-coff/helloworld/obj/z80driver.o
/sega/sg/binutils-m68k-coff/helloworld/memory.map
/sega/sg/binutils-m68k-coff/helloworld/Gens.cfg
/sega/sg/binutils-m68k-coff/helloworld/language.dat
/nintendo/gb/rgbds/helloworld/dist/hello.gb
/nintendo/gb/rgbds/helloworld/obj/hello.o
/sega/sms/wla/helloworld/bin/pattern_table_1.chr
/sega/sms/wla/helloworld/dist/hello.sms
/sega/sms/wla/helloworld/obj/hello.o
/sega/sms/wla/helloworld/tools/asciiart2chr.exe
/sega/sms/wla/helloworld/tools/chr2asciiart.exe
/sega/gg/wla/helloworld/bin/pattern_table_1.chr
/sega/gg/wla/helloworld/dist/hello.gg
/sega/gg/wla/helloworld/obj/hello.o
/sega/gg/wla/helloworld/tools/asciiart2chr.exe
/sega/gg/wla/helloworld/tools/chr2asciiart.exe
/nintendo/vb/gccvb/helloworld/obj/hello.o
/nintendo/vb/gccvb/helloworld/v810_err.txt
/nintendo/vb/gccvb/helloworld/dist/hello.vb
/nintendo/vb/gccvb/helloworld/dist/hello0.map
/nintendo/vb/vbasm/helloworld/dist/hello.vb
/nintendo/vb/vbasm/helloworld/dist/hello0.map
/nintendo/vb/vbasm/helloworld/obj/hello.o
/nintendo/vb/vbasm/helloworld/v810_err.txt